.nav-item{
    text-decoration: none;
    color: aliceblue;
    
}
.tooltip {
    font-size: 15px !important;
    pointer-events: auto !important;
  }
  
.tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
  