.detail-style{
    margin: 0 auto;
    width: 80%;
}

.button-style{
    text-align: end;
    margin: 15px;
}

.detail-style a{
 text-decoration: none;
 color: aliceblue;
 font-size: 20px;
}

.detail-style a:hover{
    color: black;
}